<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link type="text/css" href="../styles/style.scss">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div class="container">
      <header>
        <div class="title">Thumb Wing</div>
        <div class="sub__title">travel with courage ... do it with knowledge</div>
      </header>
  
      <div class = "holder entry">
        <img class = "image"/>
        <div class = "destination__name"></div>
        <div class = "destination__weather"></div>
        <div class = "destination__distance"></div>
      </div>
  
        <div class = "holder destination">
          <label for="destination">where to?</label>
            <input 
              id="city"
              class= "myInput" 
              placeholder="Enter your destination" 
              value="" 
              oninput="Client.updateUserParameters('city')"
            />
        </div>
    
        <div class = "holder flight__time">
          <label for="flight__time">time to fly?</label>
          <input
            id="date" 
            type="date"  
            placeholder="when will you be taking your flight" 
            value="" 
            oninput="Client.updateUserParameters('date')"
          />
        </div>
    
        <button 
          id="generate" 
          type="submit" 
          onclick="return Client.handleGenerateClick(event)"> 
          take off 
        </button>
    </div>
    
  </div>
</body>
</html>