body{
    min-height: 100vh;
    background: #090d0f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 1rem;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(16, 44, 77), rgb(26, 102, 189), rgb(137, 189, 219));
}

#app{
    min-height: 100vh;
    color: #99dbfc;
    font-size: 3rem;
    font-family: Oswald,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


.holder{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.entry{
    background: rgba(59, 73, 104, 0.4);
    font-size: 2rem;
    margin-bottom: 3rem;
    
    .image {
        width: 50%;
        margin: 2rem 0;
    }
}

.title{
    font-size: 6rem;
    justify-content: center;
    align-items: center;
}

.sub__title{
    justify-content: center;
    align-items: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 2.5rem;
    text-align: center;
}

input{
    display:block;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

button{
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 2.3rem;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1rem;
    &:hover {
        color:#3b4a6b;
        background: #f0d43a;
    }
}

// h1{
//     font-size: 36px;
// }

textarea{
    background:#22b2da;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ffffff; 
    font-family: 'Oswald', sans-serif;

} 
#generate{
    display: flex;
}

.countdown {
    display: none;
}

.countdown--show {
    display: flex;
    flex-direction: column;
    color: #f0d43a;
    align-items: center;
    margin: 2rem 0;
}