body{
    background: #090d0f;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    // height:100vh;
    border: 5px solid green;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem;
}

#app{
    display: flex;
    flex-flow: column wrap;
    /* grid-template-columns:  */
    // height:100vh;
    background: #1b262c;
    color: #99dbfc;
    align-items: center;
    // grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 5px dotted greenyellow;
    margin: 0;
    padding: 0;
}

header{
    border: 3px dotted red;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


.holder{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.entry{
    background: rgba(59, 73, 104, 0.4);
}

.destination{
    border: 3px dotted yellow;
}

.title{
    font-size: 60px;
    justify-content: center;
    align-items: center;
    border: 3px dashed lightblue;
}

.sub__title{
    justify-content: center;
    align-items: center;
    border: 3px dashed lightblue;
}

// #entryHolder{

// }

// #date{

// }

// #temp{

// }

// #content{

// }

// .headline {

// }
// .title{

// }

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    text-align: center;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 200px;
    height: 70px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 1rem;
    align-items: center;
}
// h1{
//     font-size: 36px;
// }

textarea{
    background:#22b2da;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
#generate{
    display: flex;
}

